.container {
  flex-grow: 1;
  padding: 16px;
  margin-top: 40px;
}

.header {
  margin-bottom: 24px;
  text-align: center;
  font-size: 22px; /* Approximating Title */
  font-family: "Pretendard-Semibold";
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 12px;
}

.icon {
  font-size: 24px;
  margin-right: 16px;
}

.content {
  flex-grow: 1;
}

.title {
  font-weight: bold;
}

.description {
  color: #666;
}

.date {
  color: #888;
  font-size: 14px;
}
