.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff; 
  padding: 0;
}

.contentArea {
  padding: 20px
}

.header {
  font-size: 18px;
  font-weight: 700;
  padding: 0px 0px 20px 0px;
  margin: 0;
}
.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 12px;
}

.icon {
  font-size: 24px;
  margin-right: 16px;
}

.content {
  flex-grow: 1;
}

.title {
  font-weight: bold;
}

.description {
  color: #666;
}

.date {
  color: #888;
  font-size: 14px;
}
