.container { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 0;
  position: relative;
}

.contentArea {
  flex-grow: 1;
  padding: 0 20px; 
  padding-top: 20px;
    padding-bottom: 80px; 
}

.header {
  display: flex;
  align-items: center;
  padding: 0px 0px 20px 0px;

}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}


.walletInfoContainer {
  /* margin-top: 30px; <- contentArea의 padding-top 20px이 있으므로 조정 */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.walletImage {
  width: 22px;
  height: 22px;
  margin-right: 16px;
}

.walletAddress {
  font-size: 16px;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 22px;
}

.input {
  margin-bottom: 16px;
  height: 52px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #E7E8E9;
  border-radius: 4px;
  background-color: #F8FAFB;
  box-sizing: border-box;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.buttonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  background-color: white;
  z-index: 10;
}

.nextButton {
  width: 100%;
  padding: 14px 8px;
  border-radius: 6px;
  background-color: #0055FF;
  color: white;
  border: none;
  font-size: 16px;
  font-family: "Pretendard-Bold";
  cursor: pointer;
}