.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff; 
  padding: 0;
}

.contentArea {
  padding: 20px
}

.header {
  font-size: 18px;
  font-weight: 700;
  padding: 0px 0px 20px 0px;
  margin: 0;
}

.walletInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.walletImage {
  width: 22px;
  height: 22px;
  margin-right: 16px;
}

.walletAddress {
  font-size: 16px;
}

.addTokenButton {
  margin-bottom: 40px;
  border-radius: 6px;
  width: 100%;
  background-color: #222B3D;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.card {
  background-color: #F8FAFB;
  border: 1px solid #E7E8E9;
  border-radius: 4px;
  padding: 20px;
}

.cardTopRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tokenIcon {
  width: 32px;
  height: 32px;
  margin-right: 23px;
}

.tokenName {
  font-size: 20px; /* Approximating titleLarge */
  font-weight: 600;
}

.cardBottomRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.balanceText {
    color: #A9A9A9;
    font-size: 16px; /* Approximating bodyLarge */
}

.balanceAmount {
    font-weight: bold;
    color: #34393C; /* Or whatever the default text color is */
}

.sendButtonText {
  font-size: 14px;
}

.sendButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.iconButtonWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Circle */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}