.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 100px; 

}

.container {
  flex-grow: 1;
  padding: 20px;
  padding-bottom: 100px; 
  width: 100%; 
}

.headerTitle { /* 기존 .header 대체 */
  font-size: 28px;
  font-weight: 200;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

.instructionText { /* 기존 .subHeader 대체 */
  font-size: 16px;
  font-weight: 200;
  color: #333;
  text-align: center;
  margin-bottom: 30px; 
}

.sectionTitle {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 24px;
  /* border-bottom: 1px solid #eee; */
  padding-bottom: 10px;
  margin-left: auto; 
  margin-right: auto;
}

.authMessage {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: #007bff;
  font-weight: 500;
}

.inputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  
  max-width: 500px; 
  margin-left: auto; 
  margin-right: auto;
}

.inputContainer {
  flex: 1;
  margin-right: 8px;
  position: relative;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #E7E8E9;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #F8FAFB;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.input:hover {
  border-color: #007bff;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.inputLabel {
  position: absolute;
  top: -18px;
  left: 0px;
  background-color: transparent;
  padding: 0 4px;
  font-size: 12px;
  color: #707476;
}

.authButton {
  height: 40px; 
  padding: 0 16px;
  background-color: #ffffff;
  color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.confirmButton { 
  height: 40px; 
  padding: 0 16px;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.confirmButton:hover:not(:disabled) {
  background-color: #d7eaff; 
}

.authButton:disabled, .confirmButton:disabled {
  color: #a0a0a0;
  border-color: #d7d7d7;
  background-color: #f7f7f7;
  cursor: not-allowed;
}


.buttonContainer {
  position: fixed; /* 화면 하단에 고정 */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 10;
}

.nextButton {
  width: 100%;
  padding: 15px;
  background-color: #0055FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
    display: block;
  margin: 0 auto;
}

.nextButton:hover:not(:disabled) {
  background-color: rgb(0, 88, 220);
}

.nextButton:disabled {
  background-color: #d7d7d7;
  cursor: not-allowed;
}