.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 195px;
  height: 195px;
  margin-bottom: 48px;
}

.title {
  font-size: 28px; /* Approximating headlineMedium */
  font-family: "Pretendard-Light";
  text-align: center;
  margin-bottom: 24px;
  color: #34393C;
  white-space: pre-wrap; /* To handle \n */
}

.subtitle {
  font-size: 14px; /* Approximating bodyMedium */
  color: #707476;
}

.subtitleContainer {
  margin-bottom: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  padding-bottom: 24px;
}

/* Base button style */
.button {
  padding: 14px 8px; /* Increased padding to approximate vertical padding */
  border-radius: 6px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 16px;
  font-family: "Pretendard-Bold";
  cursor: pointer;
}

.buttonContained {
  background-color: #0055FF;
  color: white;
  border-color: #0055FF;
}

.buttonOutlined {
  background-color: white;
  color: #0055FF;
  border-color: #0055FF;
}
