/* TokenCard.module.css */

.card {
    margin-bottom: 16px; /* TokensScreen에서 추가했던 카드 간의 간격 */
    background-color: #F8FAFB;
    border: 1px solid #E7E8E9;
    border-radius: 4px;
    padding: 20px;
    width: 100%; /* TokensScreen의 contentArea 내에서 100% 사용 */
    box-sizing: border-box; 
  }
  
  .cardTopRow {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .tokenIcon {
    width: 32px;
    height: 32px;
    margin-right: 23px;
  }
  
  .tokenName {
    font-size: 20px; /* Approximating titleLarge */
    font-weight: 600;
  }
  
  .cardBottomRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .balanceText {
      color: #A9A9A9;
      font-size: 16px; /* Approximating bodyLarge */
  }
  
  .balanceAmount {
      font-weight: bold;
      color: #34393C; /* Or whatever the default text color is */
  }
  
  .sendButtonText {
    font-size: 14px;
  }
  
  .sendButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .iconButtonWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Circle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
  }