.tabBarContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 80px;
  padding-bottom: 20px;
  position: fixed; /* Fixed to the bottom */
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #eee;
}

.tabLink {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #0055FF; /* Default color from theme */
}

.tabLinkActive {
  color: #0055FF; /* Or a different active color if desired */
}

.tabLabel {
  font-weight: bold;
}
